

body {
  background-color: black;
  display: flex;
  justify-content: center;
  height: 100vh;
  color: white;
  font-family: sans-serif;
  background: radial-gradient(
      45% 85% at 65% 65%,
      rgba(13, 58, 216, 0.8) 0%,
      rgba(0, 0, 0, 0) 100%
    ),
    radial-gradient(35% 70% at 35% 50%, #9d0303 0%, rgba(0, 0, 0, 0) 79.09%),
    #000000;
}



/* 
new picccccccc */

@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap");
.main--bakhour{
    width: 95%;
    margin: 40px auto;
    border-radius: 50px;
  
}




@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

*{
    margin :0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}



#main{
    background:#702525;
    width: 95%;
    margin: 50px auto;
    border-radius: 25px;
    padding-bottom: 20px;
}

h1{
    padding: 20px;
}

#title{
    max-width: 95%;
    margin: auto;
    text-align: center;
}

#img-div{
    padding: 20px;
    max-width: 100%;
    margin: auto;
    text-align: center;
}

#img-div img{
    display: block;
    max-width: 100%;
    margin: auto;
    /* border-radius: 150px; */
}



#tribute-info{
    text-align: justify;
    max-width: 95%;
    margin: auto;
    line-height: 26px;
}

.li-text{
    list-style-type: none;
    padding: 20px;
    background: #702525;
    margin-top:10px;
    margin-bottom: 10px;
    border-radius: 10px;
    border-style: double;
    font-family: cursive;
    color: black;
    font-size:40px ;
   
}

.image-bakhour {
  width: 50%;
  height: 50%;
}
.wordart.rainbow .text {
  background: -webkit-linear-gradient(left, #b306a9, #ef2667, #f42e2c, #9d0303, #9d0303, #55ac2f, #9d0303, #a804af);
  background: -o-linear-gradient(left, #b306a9, #ef2667, #f42e2c, #9d0303, #9d0303, #55ac2f, #9d0303, #a804af);
  background: -moz-linear-gradient(left, #b306a9, #ef2667, #f42e2c, #9d0303, #9d0303, #55ac2f, #9d0303, #a804af);
  background: linear-gradient(to right, #b306a9, #ef2667, #f42e2c, #9d0303, #9d0303, #55ac2f, #9d0303, #a804af); 
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  padding-left: 25%;
  font-size: 45px;
  font-family: cursive;
}

.main-titile-tech {
  font-family: cursive;
  color: black;
  font-size: 50px;

}

