

.contact-us-bakhour {
 
  height:100vh;
  display: flex;
  justify-content: center;
  align-items:center;
  padding-top: 50px;
  margin-top: 20px;
}

.form-bakhour {
  padding-left:25px;
  padding-right:25px;
  padding-top:60px;
  margin: 12px auto;
  border: 2px solid #ccc;
  border-radius: 20px;
  position:relative;
  z-index:1;
}

.form-bakhour > div{
  position:absolute;
  top:0;
  left:50%;
  padding:0 20px;
  transform:translate(-50%,-50%);
  background-color:black;
  border: 2px solid #ccc;
  border-radius: 20px;
  text-align:center;
}

.form-bakhour > div > img{
  filter:invert(1);
  width:100px;
}

.form-bakhour > input,
.form-bakhour > textarea {
  padding: 12px;
  margin: 12px auto;
  border: 1px solid #ccc;
  color: #ddd;
  background: radial-gradient(
    45% 85% at 65% 65%,
    rgba(13, 58, 216, 0.8) 0%,
    rgba(0, 0, 0, 0) 100%
  ),
  radial-gradient(35% 70% at 35% 50%, #9d0303 0%, rgba(0, 0, 0, 0) 79.09%),
  #000000;
  border-radius: 4px;
  display: block;
  width: 70vw;
}

.form-bakhour > textarea{
  height:100px;
  resize:none;
}

.form-bakhour > input[type="submit"] {
  max-width: 20vw;
  padding-left: 1%;
  padding-right: 1%;
  cursor: pointer;
  transition: 0.35s;
}

.form-bakhour > input[type="submit"]:hover {
  background-color: #9d0303 ;
}
