#footer {
  background: radial-gradient(
      45% 85% at 65% 65%,
      rgba(13, 58, 216, 0.8) 0%,
      rgba(0, 0, 0, 0) 100%
    ),
    radial-gradient(35% 70% at 35% 50%, #9d0303 0%, rgba(0, 0, 0, 0) 79.09%),
    #000000;

  text-align: center;
  margin-top: 50px;
  color: white;
   font-weight: bold;
  padding-bottom: 1px;
  border-radius: 15px;
 height: 100px;
 
}

.SocialIcon {
  height: 28px;
  border-radius: 7px;

 
}

#IconList {
  display: flex;
  padding-left: 48%;

  
 
}
#IconList li {
  margin: 0 10px;
} 
.Credits {
  margin-top: 10px;
  width: 100vw;
  text-align: center;
  float: center;
}

ol {
  list-style: none;
}

li {
  margin: 10px 0;
}

a {
  color: white;
  text-decoration: none;
}