
.Bakhour--products {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  margin-top: 60px;
  margin-bottom: 30px;
  grid-gap: 20px;
}

  .our-work {
    text-align: center;
    font-size: 30px;
    font-family:cursive ;
    padding-top: 30px;
  }

  .image-product-bakhour {
    width: 200px;
    height: 200px;
  }
  .card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    max-width: 300px;
    margin-top: 10px;
    text-align: center;
    font-family: arial;
    max-height: 250px;
  }

  .john-bakhour {
    text-align: center;
    font-size: 30px;
    font-family:cursive ;
    color: black;
  }


  @media (max-width:767px){
    .image-product-bakhour {
      width: 100px; 
      height: 100px; 
    }
    .Bakhour--products {
      display: grid;
      grid-template-columns: 1fr 1fr ;
      margin-bottom: 10px;
      grid-gap: 6px;
      margin-left: 5px;
      margin-right: 5px;
    }

   }

  
  

 