
.Bakhour--products {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  margin-top: 60px;
  margin-bottom: 40px;
  grid-gap: 20px;
}

  .our-work {
    text-align: center;
    font-size: 30px;
    font-family:cursive ;
   color: whitesmoke;
  
  }

  .image-product-bakhour {
    width: 200px;
    height: 250px;
  }
  .card {
    box-shadow: 5px 5px 5px 5px rgb(9, 9, 10);
    max-width: 300px;
    margin-top: 10px;
    text-align: center;
    font-family: arial;
    max-height: 300px;
   
  }

  .john-bakhour {
    text-align: center;
    font-size: 30px;
    font-family:cursive ;
    color: black;
   
  }


  @media (max-width:360px) {
    .image-product-bakhour {
      width: 100px; 
      height: 50px; 
    }
    .Bakhour--products {
      display: grid;
      grid-template-columns: 1fr 1fr ;
      margin-bottom: 10px;
      grid-gap: 6px;
      margin-left: 5px;
      margin-right: 5px;
    }

   }


   @media (max-height:640px) {
    .image-product-bakhour {
      width: 100px; 
      height: 50px; 
    }
    .Bakhour--products {
      display: grid;
      grid-template-columns: 1fr 1fr ;
      margin-bottom: 10px;
      grid-gap: 6px;
      margin-left: 5px;
      margin-right: 5px;
    }

   }

  
  

 