*{
  margin: 0;
  padding: 0;
  font-family: "Open Sans",sans-serif;
  box-sizing: border-box;
}

.bakhour--about-us{
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #f1f1f1;
}

.about-section-bakhour{
  background: url('/Image/car3.jpg') no-repeat left;
  background-size: 55%;
  background-color: #fdfdfd;
  overflow: hidden;
  padding: 100px 0;
}

.inner-container-bakhour{
  width: 55%;
  float: right;
  background-color: whitesmoke;
  padding: 150px;
}

.inner-container-bakhour h1{
  margin-bottom: 30px;
  font-size: 30px;
  font-weight: 900;
}

.text{
  font-size: 13px;
  color: #545454;
  line-height: 30px;
  text-align: justify;
  margin-bottom: 40px;
}

.skills{
  display: flex;
  justify-content: space-between;
  font-weight: 700;
  font-size: 13px;
}

@media screen and (max-width:1200px){
  .inner-container-bakhour{
      padding: 80px;
  }
}

@media screen and (max-width:1000px){
  .about-section-bakhour{
      background-size: 100%;
      padding: 100px 40px;
  }
  .inner-container-bakhour{
      width: 100%;
  }
}

@media screen and (max-width:600px){
  .about-section-bakhour{
      padding: 0;
  }
  .inner-container-bakhour{
      padding: 60px;
  }
}